$mail-color: #102e68;
.btn {
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    color: #000;
    cursor: pointer;
}
.btn-primary {
    background-color: #f00946;
    color: #fff;
}
